{% extends 'base.html.twig' %}

{% block title %}Edit {{ cardsList.name }} list{% endblock %}

{% block body %}

<div class="container">
    <h1>Edit {{ cardsList.name }} list</h1>
    <hr/>
    <div id="list" data-id="{{ cardsList.id }}" data-token="{{ token }}"></div>
</div>

{% endblock %}