{% extends 'dashboard/settings/base.html.twig' %}

{% block title %}My profile{% endblock %}

{% block settings_content %}
<h1>My profile</h1>
<hr/>

{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class="btn btn-primary">
    <i class="bi bi-check2-circle"></i> Save
</button>
{{ form_end(form) }}
{% endblock %}
