{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="bg-primary text-light">
    <div class="vh-100 vw-100 d-flex flex-column align-items-center justify-content-center">
        <h1>Welcome to MemOlicard</h1>
        <h6 class="p-4">MemOlicard is a web platform to learn easily flashcards in using the Fabien Olicard method</h6>
        <div>
            <a href="#" class="btn btn-outline-dark btn-lg">Log in</a>
            <a href="{{ path('register') }}" class="btn btn-dark btn-lg">Sign in</a>
        </div>
    </div>
</div>
{% endblock %}
