{% extends 'dashboard/profile/base.html.twig' %}

{% block title %}Security{% endblock %}

{% block settings_content %}
<h1>Security</h1>
<hr/>
{% if success %}
<div class="alert alert-success" role="alert">
    {{ success }}
</div>
{% endif %}
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class="btn btn-primary">
    <i class="bi bi-check2-circle"></i> Save
</button>
{{ form_end(form) }}
{% endblock %}
