{% extends 'base.html.twig' %}

{% block title %}{{ post.title }} | MemOliBlog{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ post.title }}</h1>
    <hr/>
    {{ post.content|raw }}
</div>
{% endblock %}
