<footer class="bg-light pt-5 pb-5 bd-footer shadow-sm">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <h5>{{ 'footer.social_network'|trans|raw }}</h5>
                <ul class="list-unstyled">
                    <li class="mb-3">
                        <a href="https://instagram.com/remialban_tech"><i class="bi bi-instagram"></i> @remialban_tech</a>
                    </li>
                    <li class="mb-3">
                        <a href="https://github.com/remialban"><i class="bi bi-github"></i> @remialban</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5><img src="{{ asset('favicon.svg') }}" width="40" alt=""> MemOlicard</h5>
                <p>{{ 'footer.title'|trans|raw }}</p>
            </div>
        </div>
    </div>
</footer>