{% extends 'dashboard/base.html.twig' %}

{% block title %}Edition of the list of cards{% endblock %}

{% block content %}

<div class="container">
    <h1>Flashcard</h1>
    <hr/>
    <div id="list" data-id="{{ cardsList.id }}"></div>
</div>

{{ encore_entry_script_tags('edit_list') }}

{% endblock %}