{% extends 'dashboard/base.html.twig' %}

{% block title %}@{{ user.username }}{% endblock %}

{% block content %}
<div class="container">
    <h1>@{{ user.username }}</h1>
    <hr/>
    <p>
        {% if user.biography %}
            {{ user.biography|escape|markdown_to_html  }}
        {% endif %}
    </p>
</div>
{% endblock %}
