{% extends 'email/base.html.twig' %}

{% block content %}
<p>You have forgotten your password and you must create a new password by opening the link bellow:</p>
<p><a href="{{ absolute_url(path('login_forgot_password', {'token': token})) }}"></a>{{ absolute_url(path('login_forgot_password', {'token': token})) }}</p>
<p>For security, the link is valid for 15 quarter of an hour. After this time has elapsed, if you still have not changed this password, you must resubmit a request.</p>
{% endblock %}
