{% extends 'base.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block body %}
<div class="container">
    <h1>Sign in</h1>
    <hr/>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
